{% extends 'converter/base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="card box-shadow m-2 form-wrap">
                <div class="card-header text-center">
                    <h3>Currency converter</h3>
                </div>
                <div class="card-body">
                    <h1>Something went wrong...</h1>
                    <h2>Try again later</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}