{% extends 'converter/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card box-shadow m-2 form-wrap">
                <div class="card-header text-center">
                    <h3>Currency converter</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'home' %}" method="post" class="p-3">
                        {% csrf_token %}

                        {{ form.as_p }}
                        <button type="submit" class="btn btn-green btn-block">Convert</button>
                    </form>
                </div>
                {% if converted %}
                    <div class="card-footer">
                        {{ amount }} {{ primary_currency }} = <b>{{ converted_amount }}</b> {{ secondary_currency }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}